<div class="row quote">
  <div *ngFor='let quote of quotes; let i =index;' class="col-md-4">
<div class="card">
  <h3>{{quote.name}}</h3>
  <hr>
  <br>
  <button (click)='toogleDetails(i)' class="btn btn-outline-success">show details</button>

  <br>
<app-quote-details *ngIf="quote.showDescription" [quote] = 'quote' (isComplete)= 'completeGoal($event,i)'></app-quote-details>
  <span><button (click)='quote.id=quote.id+1'>upvote</button>{{quote.id}} <button (click)='quote.downVote=quote.downVote+1'>downvote</button>{{quote.downVote}} </span>
</div>
</div>
  </div>
  <br>
  <hr>
  <div class="row card">
    <div class="col-md-2"></div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2"></div>
  </div>


