/* You can add global styles to this file, and also import other style files */

body{
  overflow-x:hidden;
 background-image: url("https://images.pexels.com/photos/1405773/pexels-photo-1405773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-position: fixed;
  }
